{% extends "base/base.html" %}

{% block title %}
<title>reCAPTCHA v3</title>
{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block content %}

<form id="demo-form" action="/submit_recaptcha_v3" method="post">
    <div class="form-field">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="form-field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <input type="hidden" id="recaptcha-token" name="recaptcha-token">
    <button class="g-recaptcha" data-sitekey="{{ site_key }}" data-callback='onSubmit'
        data-action='submit'>Submit</button>
</form>

<script>
    function onSubmit(token) {
        document.getElementById("demo-form").submit();
    }
</script>

{% endblock %}