<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Default Title</title>{% endblock %}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    {% block scripts %}{% endblock %}
</head>

<body>
    <nav>
        <div class="navbar-container">
            <a href="/" class="logo-link">CAPTCHA Testing Framework</a>
            <ul class="nav-links">
                <li><a href="/recaptcha_enterprise">reCAPTCHA Enterprise</a></li>
                <li><a href="/recaptcha_v3">reCAPTCHA v3</a></li>
                <li><a href="/recaptcha_v2">reCAPTCHA v2</a></li>
                <li><a href="/turnstile">Turnstile</a></li>
                <li><a href="/friendly_captcha">Friendly Captcha</a></li>
                <li><a href="/captcha_fox">Captchafox</a></li>
            </ul>
        </div>
    </nav>


    <div class="content-container">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>

</html>