{% extends "base/base.html" %}

{% block title %}
<title>CAPTCHA Testing Framework</title>
{% endblock %}

{% block content %}
<div class="link-container">
    <a href="/recaptcha_enterprise" class="link-button">reCAPTCHA Enterprise</a>
    <a href="/recaptcha_v3" class="link-button">reCAPTCHA v3</a>
    <a href="/recaptcha_v2" class="link-button">reCAPTCHA v2</a>
    <a href="/turnstile" class="link-button">Turnstile</a>
    <a href="/friendly_captcha" class="link-button">Friendly Captcha</a>
    <a href="/captcha_fox" class="link-button">Captchafox</a>
</div>
{% endblock %}
